name: Build Kodi Repository

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Install zip tools
        run: sudo apt-get install -y zip unzip

      - name: Build addons.xml
        run: |
          echo "<?xml version='1.0' encoding='UTF-8'?>" > addons.xml
          echo "<addons>" >> addons.xml

          for addon in zips/*; do
            zipfile=$(ls "$addon"/*.zip)
            addonxml=$(unzip -Z1 "$zipfile" | grep "addon.xml")
            unzip -p "$zipfile" "$addonxml" >> addons.xml
          done

          echo "</addons>" >> addons.xml

      - name: Generate MD5
        run: md5sum addons.xml | awk '{print $1}' > addons.xml.md5

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add addons.xml addons.xml.md5
          git commit -m "Auto-update repository files" || echo "No changes"
          git push origin main
